@using ThirdPartyLicenceGenerator;
@using ThirdPartyLicenceGenerator.Models
@using ThirdPartyLicenceGenerator.Web.Mvc.Models;
@model PackagesFileResult<NuGetPackage>

@helper FoundNuGetPackage(NuGetPackage item)
{
    <tr>
        <td>
            @if (item.HasProjectUrl())
            {
                <a href="@( item.ProjectUrl.AbsoluteUri)" target="_blank">@item.GetFullName()</a>
            }
            else
            {
                <span>@item.GetFullName()</span>
            }
        </td>
        <td>
            <a href="@item.NuGetUrl()" target="_blank">@item.NuGetUrl()</a>
        </td>
        <td>
            @if (item.HasLicenceUrl())
            {
                <a href="@( item.LicenceUrl.AbsoluteUri)" target="_blank">@item.GetLicenceName()</a>
            }
            else
            {
                <span>-</span>
            }
        </td>
    </tr>
}

@helper NotFoundNuGetPackage(NuGetPackage item)
{
    <tr>
        <td>
            <span>@item.GetFullName()</span>
        </td>
        <td colspan="2">
            <a href="@item.NuGetUrl()" target="_blank">@item.NuGetUrl()</a>
        </td>
    </tr>
}

<div class="panel panel-default" style="margin-bottom: 60px;">
    <div class="panel-heading">
        <h6 class="panel-title">@Model.FileName</h6>
    </div>
    <div class="panel-body">
        <p>@Model.Packages.Count() NuGet packages</p>

        <table class="table" style="margin-bottom: 0;">
            <thead>
            <tr>
                <th>Package</th>
                <th>NuGet</th>
                <th>Licence</th>
            </tr>
            </thead>
            <tbody>
            @foreach (NuGetPackage item in Model.Packages)
            {
                @(item.WasFound ? FoundNuGetPackage(item) : NotFoundNuGetPackage(item))
            }
            </tbody>
        </table>
    </div>
</div>
